<footer>
    <h6>Developed by <b>Abhinav Kosta</b></h6>
    <div class="f-info">
        <div class="f-info-links">
            <a href="/developed"><h5>About Us</a></h5>
        </div>
    </div>
</footer>